img {
  max-width: 240px;
}

img-filter {
  display: flex;
  padding: 8px;
  margin: 12px;
  width: 25%;
  min-width: 392px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }
  img-filter {
    border-color: white;
    background-color: white;
  }
}
button {
  margin: 5px;
  max-width: 8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #111;
  background-color: yellow;
  border-color: #ccc;
}
button:focus {
  outline: blue auto 1px;
}

.flex {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container {
  width: 996px;
  margin-left: auto;
  margin-right: auto;
}
